<footer class="footer bg-dark text-light py-3 mt-auto">
    <div class="container">
        <p class="mb-0 small">
            © 2018–@DateTime.Now.Year USLIG USLIG — University, Science and Literature Information Guide
        </p>
    </div>
</footer>
