@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h2>Willkommen auf Uslig – University, Science and Litarature Information Guide</h2>


Wir vereinen Porträts grosser Schriftsteller:innen, 
Profile renommierter Universitäten und Beiträge herausragender Wissenschaftler:innen an einem Ort. 
Mit intelligenter Suche, übersichtlichen Filtern und sorgfältig kuratierten Informationen findest du schnell,
was dich wirklich weiterbringt – vom ersten Überblick bis zum tiefen Eintauchen in Themen, Personen und Orte.

Welcome to your new app.
